@use '../../base/variables';

.promo {
    position: relative;
    background: url(../../../images/main-baner.jpg) center center / cover no-repeat;
    min-height: 1024px;
   &__wrapper {
    max-width: 968px;
    margin: 255px auto 0;
   }
   &__title {
    font-family: variables.$second-family;
    font-weight: 700;
    font-size: 68px;
    text-align: center;
    line-height: 120%;
    color: variables.$font-white;
    @media(max-width: 1200px) {
        font-size: 60px;
    }
   }
   &__description {
    margin-top: 25px;
    text-align: center;
    font-family: variables.$main-family;
    font-weight: 400;
    font-size: 16px;
    color: variables.$font-white;
    @media(max-width: 1200px) {
        font-size: 15px;
        max-width: 778px;
        margin: 25px auto 0;
    }
   }
   &__inner-btn {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 30px;
   }
   &__background-substrate {
    position: absolute;
    bottom: -5px;
    width: 100%;
   }
}