// DM-Sans
@font-face {
    font-family: 'DM-Sans', sans-serif;
    font-display: swap;
    src: url(../../fonts/DMSans-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DM-Sans', sans-serif;
    font-display: swap;
    src: url(../../fonts/DMSans-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

//The Seasons 

@font-face {
    font-family: 'The Seasons';
    font-display: swap;
    src: url(../../fonts/Fontspring-DEMO-theseasons-bd.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}