$main-family: 'DM-Sans', sans-serif;
$second-family: 'The Seasons';


// color font

$font-white-active: #d8d8d8;
$font-white: #fff;
$color-black: #020919;
$btn-main_color:  #1f4e92;

// paddings 

$main-media-pd: 0 80px;